header{
    display:flex;
    justify-content: space-between;
}   


.title{
    font-family:'Courier New', Courier, monospace;
    text-align: center;
    margin-right:555px;
}

h1{
    color:white;

}

h2{
    color:white;
}

img{
    width: 180px;
    height:160px;
}

body{
    background-image: url("../background_image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.marge{
    margin-left:35px;
}

.title_h3{
    margin-left: 10px;
    font-size: 15px;
}

.background_color{
    background-color: white;
    border-radius: 10px;
    width:480px;
    margin:30px auto;
    height: 202px;
}


.form_saisi{
    width: 100%;
    margin-top: 25px;
}

div{
    margin-bottom: 5px;
    margin-left:10px;
    font-size: 13px;
}

p{
    box-shadow: 1px 1px 1px 1px black;
    border-radius: 10px;
    margin-right: 15px;
    margin-left:10px;
    margin-top: 20px;
    text-align:center;
}

.size_block{
    width: 90px;
}