body{
    margin: 0px;
    padding: 0px;
    background-image: url("background_image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
header{
    display:flex;
    justify-content: space-between;
}   


.title{
    font-family:'Courier New', Courier, monospace;
    justify-content:space-between;
    text-align: center;
    margin-right:350px;
}

h1{
    color:white;
    margin-left:100px;
    margin-right: 150px;

}

h2{
    color:white;
    margin-right:55px;
}

img{
    width: 180px;
    height:160px;
}
h3{
    color:black;
    text-align: center;
    font-size: 25px;
    margin-left:15px;
    margin-bottom:0px;
}

.block{
    background-color: white;
    border-radius: 10px;
    width:480px;
    margin-left:525px;
    height: 202px;
}